@model Project.Booking.Model.CheckoutViewModel
<!-- Modal -->

<div class="modal fade" id="modal-term-payment" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Term & Condition / ข้อกำหนดและเงื่อนไข</h3>
            </div>
            <div class="modal-body">
                <p class="p-term">การเข้าใช้งานระบบชำระเงินออนไลน์นั้น ทางผู้ชำระรับทราบ และตกลงว่าในการทำธุรกรรม และ/หรือ ใช้บริการใดๆ ผ่านทางระบบของบริษัท ผู้ชำระตกลงยอมรับ และจะปฏิบัติตามข้อกำหนดเงื่อนไขการใช้บริการทุกประการ</p>
                <p class="p-term">1. ผู้ชำระจะต้องดำเนินการประสานงานกับเจ้าหน้าที่ของทางบริษัท โดยได้แจ้งข้อมูลส่วนตัวที่ถูกต้อง ครบถ้วน ตรงต่อความจริง และเป็นปัจจุบันที่สุด และหากมีการเปลี่ยนแปลงใดๆ เกี่ยวกับข้อมูลรายละเอียดที่ผู้ชำระให้ไว้แก้บริษัท ผู้ชำระตกลงที่ปรับปรุงแก้ไขข้อมูลดังกล่าว โดยประสานกับบริษัท</p>
                <p class="p-term">2. ทั้งนี้ บริษัทจะจัดเก็บข้อมูลของผู้ชำระไว้เป็นความลับ และสงวนสิทธิที่จะร้องขอเอกสารเพิ่มเติม เพื่อตรวจสอบยืนยันข้อมูลที่ผู้ชำระให้มาถูกต้อง หากผู้ชำระเลือกที่จะไม่ส่งข้อมูลเพิ่มเติมให้แก่บริษัท อาจทำให้การรับชำระออนไลน์ไม่สมบูรณ์ และ/หรือไม่มีผลผูกพันทางกฏหมายกับบริษัทได้</p>
                <p class="p-term">3. ผู้ชำระจะได้รับ QR Code หรือ URL เพื่อดำเนินการเข้าสู่กระบวนการรับชำระโดยถือเป็นความลับ ในกรณีที่ผู้ชำระมอบข้อมูล หรืออนุญาตให้บุคคลอื่นใดไปใช้ ถือว่าเป็นการกระทำของผู้ชำระเอง และมีผลผูกพันทางกฏหมายกับผู้ชำระทุกประการ ในกรณีที่ผู้ชำระสงสัยการใช้งาน ผูู้ชำระจะต้องแจ้งให้บริษัททราบทันที</p>
                <p class="p-term">4. ในกรณีที่บริษัทมีเหตุอันควรเชื่อได้ว่าอาจจะมีการใช้เว็บไซต์ไปในทางมิชอบบริษัทขอสงวนสิทธฺในการระงับ หรือยกเลิกการเข้าใช้</p>
                <p class="p-term">5. บริษัทจะไม่เปิดเผยข้อมูลส่วนตัวใดๆ ของผู้จองให้บัคคลภายนอกทราบ ยกเว้นกรณีที่บริษัทอาจถูกขอให้เปิดเผยข้อมูลส่วนตัวของผู้ชำระ เช่น ในกรณีมีมูลให้เชื่อว่าการเปิดเผยดังกล่าวอาจป้องกันการคุกคามทางทุจริตบนธุรกรรมออนไลน์ หรือได้รับการร้องขอจากหน่วยงานราชการอื่นใด หรือ เป็นไปตามบทบัญญัติของกฏหมาย เป็นต้น</p>
                <p class="p-term">6. บริษัทขอสงวนสิทธิในการแก้ไข เปลี่ยนแปลง หรือยกเลิกข้อกำหนด และเงื่อนไขนี้ไม่ว่าทั้งหมด หรือบางส่วนได้โดยไม่ต้องแจ้ง ให้ผู้ชำระทราบล่วงหน้า</p>
                <p class="p-term">7. กรณีผู้ชำระแล้วต้องการคืนเงิน ทางบริษัทขอสงวนสิทธิการคืนเงิน เป็นไปตามเงื่อนไขที่บริษัทที่ได้ตกลงกับผู้ชำระในแต่ละกรณีของการชำระ</p>
            </div>
            <div class="modal-footer">
                @Html.Partial("Partial_Checkout", Model)
            </div>
        </div>
    </div>
</div>

