<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Contact Us</h3>
                    </div>
                    <ul class="footer-links">
                        <li><a href="mailto:gm@thetitlephuket.com">gm@thetitlephuket.com</a></li>
                        <li><a href="https://www.rhombho.co.th/" target="_blank">https://www.rhombho.co.th/</a></li>
                        <li>
                            Phuket Main Office
                            <br />469 Moo 6, Viset Road
                            <br />Rawai, Muang, Phuket, 83130, Thailand
                        </li>
                        <li>+66(0) 7661 3888-9 (Mon - Sat / 8:00 - 17:00)</li>
                    </ul>
                </div>
            </div>

            @*<div class="col-md-2 col-sm-2 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Social</h3>
                    </div>
                    <ul class="footer-links">
                        <li><a target="_blank" href="https://www.facebook.com/thetitlephuket/"><i class="fa fa-facebook"></i> Facebook</a></li>
                        <li><a target="_blank" href="https://www.youtube.com/channel/UCZLLIW4itgVbFHbGC_x1RwQ"><i class="fa fa-youtube"></i> YouTube</a></li>
                        <li><a target="_blank" href="https://www.instagram.com/the_title_phuket/?hl=en"><i class="fa fa-instagram"></i> Instagram</a></li>
                    </ul>
                </div>
            </div>*@
        </div>         
    </div>
    <!-- end container -->
</footer>
<!-- end footer -->
<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-left">
                <p class="footer-company-name text-left" style="padding-bottom:0px;">&copy; 2023 <a href="https://www.rhombho.co.th/" target="_blank">Rhom Bho Property PLC</a></p>
                <p class="footer-company-name text-left" style="padding-top:0px;">This system supports Chrome and Microsoft Edge</p>
            </div>
        </div>
    </div><!-- end container -->
</div><!-- end copyrights -->
