
<!-- Modal -->
<div class="modal fade" id="modal-introduction" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><i style="color:dimgrey;" class="fa fa-gear "></i> Instructions</h3>                
            </div>
            <div class="modal-body" style="padding-top:0px;">
                <h3 style="text-indent: 30px; color: navy;">Booking steps</h3>                
                <p class="p-intro">1. Click on the drop down menu to choose your desired building and floor.</p>
                <p class="p-intro">2. Click to select unit from floor plan, then the screen will display unit detail. Decide to book a unit by clicking book button</p>
                <p class="p-intro">3. Confirm unit booking details and you will receive email for booking confirmation.</p>                
                <p class="p-intro">For booking next unit, please follow the same steps.</p>
            </div>
            <div class="modal-footer">
                <button id="btn-close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                
            </div>
        </div>
    </div>
</div>
