
<!-- Modal -->
<div class="modal fade" id="modal-confirm-book" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"><i style="color:darkorange;" class="fa fa-warning text-warning"></i> Confirm</h3>                
            </div>
            <div class="modal-body">
                <p class="p-intro" style="margin-bottom:0px;padding-bottom:0px">Are you sure you want to book this unit?</p>
                <p class="p-intro"><span style="font-size:x-large;color:red">*</span> You can cancel this booking on the next day by contacting our Sales Representatives.</p>
            </div>
            <div class="modal-footer">
                <button id="btn-close" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="btn-confirm-book" type="button" class="btn btn-cancel" style="background-color:darkorange;">Confirm</button>
            </div>
        </div>
    </div>
</div>
