<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <!--DEV-->
    <!--<add name="OnlineBookingEntities" connectionString="metadata=res://*/Booking.csdl|res://*/Booking.ssdl|res://*/Booking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=SalekitTitle;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--PRD-->
    <add name="OnlineBookingEntities" connectionString="metadata=res://*/Booking.csdl|res://*/Booking.ssdl|res://*/Booking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.10.8;initial catalog=OnlineBookingKavalon;user id=kavalon;password=kavalon@2024;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--UAT-->
    <!--<add name="OnlineBookingEntities" connectionString="metadata=res://*/Booking.csdl|res://*/Booking.ssdl|res://*/Booking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.10.9;initial catalog=OnlineBooking_UAT;user id=onlinebooking;password=onlinebooking@2022;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="true" />

    <!--Standard Format-->
    <!--<add key="UI.StandardNumberFormat" value="{0:#,##0.00}" />-->
    <add key="UI.StandardNumberFormat" value="{0:#,##0}" />
    <add key="UI.StandardDateFormat" value="yyyy-MM-dd" />
    <add key="UI.StandardDateFormatCalendar" value="yyyy-MM-dd" />
    <add key="UI.StandardDateTimeFormat" value="yyyy-MM-dd HH:mm" />
    <add key="UI.PageCulture" value="en-US" />
    <add key="UI.TimeFormat" value="HH:mm" />
    
    <!--Email-->
    <add key="Email.From" value="title@rhombho.co.th" />
    <add key="Email.Sender" value="Title Rhombho" />
    <!--<add key="Email.Host" value="assetwise-co-th.mail.protection.outlook.com" />-->
    <!--<add key="Email.Host" value="mail.assetwise.co.th" />
    <add key="Email.Port" value="587" />
    <add key="Email.UserName" value="preapproved@assetwise.co.th" />
    <add key="Email.Password" value="12345Qwert" />-->
    <add key="Email.Host" value="smtp.office365.com" />
    <add key="Email.Port" value="587" />
    <add key="Email.UserName" value="title@rhombho.co.th" />
    <add key="Email.Password" value="Jay44346" />
    <add key="Email.Subject.Register" value="The Title Heritage BANG-TAO : Confirming register." />
    <add key="Email.Subject.ForgotPassword" value="The Title Heritage BANG-TAO : Forgot Password" />
    <add key="Email.Subject.Payment" value="AssetWise - ชำระเงินสำเร็จ (Online Booking Successful)" />
    <add key="Email.Subject.Booking" value="The Title Heritage BANG-TAO : Confirming the unit reservation." />
    
    <!--payment due duration (minutes)-->
    <add key="payment.due.duration" value="20" />
    <!--booking quota-->
    <add key="booking.quota" value="3" />

    <!--unit random view-->
    <add key="unit.random.view" value="3" />

    <!--hangfire-->
    <add key="hangfire.conn" value="Data Source=.\sqlexpress;Initial Catalog=HangfireService_UAT;User ID=onlinebooking;Password=onlinebooking@2022;multipleactiveresultsets=True;" />

    <!--onlinebooking-->
    <add key="onnlingbooking.conn" value="Data Source=10.0.10.8;Initial Catalog=OnlineBookingKavalon;User ID=kavalon;Password=kavalon@2024;multipleactiveresultsets=True;" />

    <!--Admin Title ID-->
    <add key="admin.title.id" value="5717419b-d962-4450-a64a-308362468e50" />
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" executionTimeout="3600000" maxRequestLength="30000000" />
    <sessionState timeout="3600"></sessionState>
    <customErrors mode="On" defaultRedirect="~/Error/NotFound">
      <error statusCode="404" redirect="~/Error/NotFound" />
    </customErrors>
  </system.web>
  <system.webServer>    
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Headers" value="accept, content-type" />
        <add name="Access-Control-Allow-Origin" value="https://localhost:44350" />
        <add name="Access-Control-Allow-Methods" value="POST, GET, OPTIONS" />
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
