@model List<Project.Booking.Model.ProjectRegisterQuota>
<div class="tile tile-rv">
    <div class="col-md-12">
        <div class="row" style="margin-bottom:15px;">
            <div class="card card-1 card-rv" style="text-align: left;" data-action="payment-detail" data-id="" >
                <div class="row">
                    <div class="col-md-4 col-xs-4 sp-title">
                        <h3 class="pb-0">2 สิทธิ์</h3>
                    </div>
                    <div class="col-md-8 col-xs-8 text-right pb-0">
                        <h3 class="text-primary">6,000 บาท</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-xs-5">
                        <label class="badge " style="font-size: larger; background-color: #8e48ee;">ชำระเงินแล้ว</label>
                    </div>
                    <div class="col-md-7 col-xs-7 text-right">
                        <h4 style="color: #a29e9e; padding-bottom: 0px;font-size:2rem">วันที่ 2024-07-10</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-xs btn-danger">ชำระเงินเพิ่มเติม</button>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card card-1 card-rv" style="text-align: center !important;">
                <h4>No attach.</h4>
            </div>
        </div>
    </div>
</div>


