<div class="container">
    <div class="row">
        <div align="center">
            <button class="btn btn-default filter-button" data-filter="hdpe">HDPE Pipes</button>
            <button class="btn btn-default filter-button" data-filter="sprinkle">Sprinkle Pipes</button>
        </div>
        <br />
        <div class="gallery_product col-md-12 filter hdpe">
            <ul class="pgwSlideshow">
                <li><img src="~/Resources/EQC030/Gallery/1 bedroom 23 sq.m/_A8A5044-Pano.jpg" data-description="Golden Gate Bridge"></li>
                <li>
                    <a href="" target="_blank">
                        <img src="~/Resources/EQC030/Gallery/1 Bedroom Exclusive  26 sq.m/_A8A4741-Pano-Edit.jpg" alt="Monaco">
                    </a>
                <li><img src="~/Resources/EQC030/Gallery/1 bedroom 23 sq.m/_A8A5073.jpg" alt=""></li>
                <li><img src="~/Resources/EQC030/Gallery/1 bedroom 23 sq.m/_A8A5073.jpg" alt=""></li>
            </ul>
        </div>
        <div class="gallery_product col-md-12 filter sprinkle">
            <ul class="pgwSlideshow">
                <li><img src="~/Resources/EQC030/Gallery/1 bedroom 23 sq.m/_A8A5044-Pano.jpg" data-description="Golden Gate Bridge"></li>
                <li>
                    <a href="" target="_blank">
                        <img src="~/Resources/EQC030/Gallery/1 Bedroom Exclusive  26 sq.m/_A8A4741-Pano-Edit.jpg" alt="Monaco">
                    </a>
                <li><img src="~/Resources/EQC030/Gallery/1 bedroom 23 sq.m/_A8A5073.jpg" alt=""></li>
                <li><img src="~/Resources/EQC030/Gallery/1 bedroom 23 sq.m/_A8A5073.jpg" alt=""></li>
            </ul>
        </div>
    </div>
</div>