<link href="~/css/register-success.css" rel="stylesheet" />
<!--Model Popup starts-->
<div class="container">
    <div class="row">
        <div class="modal fade" id="booking-error-unit-modal" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                    </div>
                    <div class="modal-body text-center">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="~/images/warning.png" alt="" width="80">                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">                                
                                <img src="~/images/Error_UnitNotAvailable.png" alt="" style="max-width:80%">
                            </div>
                        </div>
                        @*<div class="thank-you-pop">

            <h2>not successful</h2>
            <p>This unit is not available.</p>
        </div>*@
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-md btn-default" id="a-btn-close" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Model Popup ends-->
