<link href="~/css/register-success.css" rel="stylesheet" />
<!--Model Popup starts-->
<div class="container">
    <div class="row">
        <div class="modal fade" id="register-success-modal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content" style="box-shadow:unset;border:0;box-shadow:0;">
                    <div class="modal-body" style="padding:0px;">
                        <div class="img-container">
                            <img class="img-thankyou-register" src="" />
                        </div>
                        <a id="a-btn-close" data-dismiss="modal"><img src="~/Resources/close-window.jpg" width="35" /></a>
                        @*<a id="a-add-line" href="https://lin.ee/xwUyCdo" target="_blank" class="btn btn-sm btn-warning"><img class="img-line-icon" src="~/Resources/line-icon.png" width="30" />@("LINE ID : @Atmozbangna")</a>*@
                        @*<a id="a-close-page" data-dismiss="modal" class="btn btn-sm btn-warning">กลับหน้าหลัก</a>*@
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--Model Popup ends-->
