<link href="~/css/register-success.css" rel="stylesheet" />
<!--Model Popup starts-->
<div class="container">
    <div class="row">
        <div class="modal fade" id="booking-error-quota-modal" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="thank-you-pop">
                            <img src="~/images/warning.png" alt="" width="50">
                            <h2>Your quota has been used up.!</h2>
                            <p>You can review your room reservations in the 'My booking' menu</p>
                            @*<h3 class="cupon-pop">Your Id: <span>12345</span></h3>*@                            
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-md btn-default" id="a-btn-close" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Model Popup ends-->
