<div class="tile tile-rv">
    <div class="card-list">
        <div class="title">เลือกจำนวนสิทธิ์</div>
        <div class="content">
            <input type="radio" name="rd" id="one">
            <input type="radio" name="rd" id="two">
            <input type="radio" name="rd" id="three">
            <label for="one" class="box first">
                <div class="plan"  >
                    <span class="circle"></span>
                    <span class="yearly" style="font-size: larger;">1 สิทธิ์</span>
                </div>
                <span class="price"  style="font-size: larger;">3,000 บาท</span>
            </label>
            <label for="two" class="box second">
                <div class="plan">
                    <span class="circle"></span>
                    <span class="yearly" style="font-size: larger;">2 สิทธิ์</span>
                </div>
                <span class="price" style="font-size: larger;">6,000 บาท</span>
            </label>
            <label for="three" class="box third">
                <div class="plan">
                    <span class="circle"></span>
                    <span class="yearly" style="font-size: larger;">3 สิทธิ์</span>
                </div>
                <span class="price" style="font-size: larger;">9,000 บาท</span>
            </label>
        </div>
        <div class="content">
            <button id="btn-confirm-prebook" class="button" >ยืนยันจองสิทธิ์</button>
        </div>
    </div>
</div>