<div class="row bs-wizard" style="border-bottom:0;">
    <div class="col-xs-3 bs-wizard-step complete">
        <div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 1</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">เลือกจำนวนสิทธิ์</div>
    </div>
    <div class="col-xs-3 bs-wizard-step complete">
        <!-- complete -->
        <div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 2</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">เลือกช่องทางชำระเงิน</div>
    </div>
    <div class="col-xs-3 bs-wizard-step complete">
        <!-- complete -->
        <div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 3</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">ชำระเงิน</div>
    </div>
    <div class="col-xs-3 bs-wizard-step complete">
        <!-- complete -->
        <div class="text-center bs-wizard-stepnum">ขั้นตอนที่ 4</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">แจ้งการชำระเงิน (โอนเงิน)</div>
    </div>
</div>