<link href="~/css/register-success.css" rel="stylesheet" />
<!--Model Popup starts-->
<div class="container">
    <div class="row">
        <div class="modal fade" id="register-success-modal-2" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">                        
                        <button type="button" class="close" data-dismiss="modal" aria-label=""><span>×</span></button>
                    </div>

                    <div class="modal-body">

                        <div class="thank-you-pop">
                            <img src="~/images/thankyou.png" alt="" width="50">
                            <h1>ลงทะเบียนสำเร็จ!</h1>
                            <p>ตรวจสอบผลการลงทะเบียนเพิ่มเติมได้ที่อีเมลของท่าน</p>
                            @*<h3 class="cupon-pop">Your Id: <span>12345</span></h3>*@

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--Model Popup ends-->
