<form id="frm-login" class="row" method="post" style="display:none;padding-top:20px" autocomplete="on">
    @Html.Hidden("returnUrl", (string)ViewBag.returnUrl)
    <fieldset class="row-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" >
            <img src="~/Images/KAVALON-LOGO-WHITE.png" width="350" style="max-width:100%" />
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="">
            <h3 class="h-register">Online Booking</h3>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <input type="text" name="Email" class="form-control" placeholder="อีเมล email" style="margin-bottom:10px">
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pass_show">
            <input type="password" name="Password" class="form-control" placeholder="รหัสผ่าน password" style="margin-bottom:10px">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a id="a-forgot" class="a-forgot">ลืมรหัสผ่าน</a>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <button type="submit" class="btn btn-light btn-radius btn-brd btn-utility btn-block">เข้าสู่ระบบ</button>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-white text-center">
            ระบบนี้รองรับ Chrome และ Microsoft Edge
        </div>        
    </fieldset>
</form>

