<div id="cookie-accept-popup" style="display:none;">    
        <div class="row">
            <div class="col-sm-12" style="padding-bottom:0px;">
                <div class="inner">
                    <div class="row" style="margin-bottom:unset;">
                        <div class="col-sm-12 col-md-9" style="margin-bottom:0px;padding-left:30px;">
                            <p>เราใช้คุกกี้เพื่อมอบประสบการณ์ที่ดีให้กับคุณ หากคุณยังคงใช้งานบนเว็บไซต์ เราถือว่าคุณยอมรับ ข้อกำหนดและเงื่อนไข คุณสามารถศึกษารายละเอียดได้ที่ <a  href="https://assetwise.co.th/privacy-policy/"><strong>นโยบายความเป็นส่วนตัว</strong></a></p>
                        </div>
                        <div class="col-sm-12 col-md-3 text-center">
                            <button id="notAcceptCookie" class="btn btn-danger">ไม่ยอมรับ</button>
                            <button id="acceptCookie" class="btn btn-success">ยอมรับ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
</div>

