<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--Dev-->
    <add key="ConnectionString" value="Data Source=20IN-SIRIPOJ\SQLEXPRESS;Initial Catalog=OnlineBooking_DEV;User ID=sa;Password=P@ssw0rd;multipleactiveresultsets=True;connect timeout=30" />
    <!--Millisecond-->
    <add key="ServiceInterval" value="100" />

    <!--Wise Pay-->
    <add key="WisePay.Interval.H" value="07" />
    <add key="WisePay.Interval.M" value="00" />
    <add key="WisePay.Interval.Day" value="1" />
    
    <!--KPayment-->
    <add key="WisePay.KPayment.Url" value="https://kpaymentgateway-services.kasikornbank.com" />    
  </appSettings>
  <connectionStrings>
    <add name="WisePayEntities" connectionString="metadata=res://*/Data.WisePayEntities.csdl|res://*/Data.WisePayEntities.ssdl|res://*/Data.WisePayEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=27.254.174.192,9093;initial catalog=WisePay;user id=wisepay;password=wisepay@2022;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>